.home-container {
    min-height: 100vh;
    padding: 100px ;
}

.home-dark {
    background-color: black;
    color: orangered;
}

.home-container a {
    padding-right: 50px;
    text-decoration: none;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.catagory-container {
    font-size: 20px;
    color: #5264C3;
    padding-bottom: 20px;
}