.header-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-container a {
    font-weight: bolder;
    font-size: 24px;
    color: #3A4895;
    text-decoration: none;
}

.cart-icon {
    font-size: 3em;
    color: #3A4895;
}