.footer-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #3a4895;
    color: #fcfcfc;
}

.footer-container a {
    cursor: pointer;
    background-color: transparent;
    color: #fcfcfc;
    text-decoration: none;
}