.footer-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #3a4895;
    color: #fcfcfc;
}

.footer-container a {
    cursor: pointer;
    background-color: transparent;
    color: #fcfcfc;
    text-decoration: none;
}

.footer-dark {
    background-color: black;
    border-top: orangered
}

.theme-btn {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: var(--light-theme-btn);
    color: var(--white);
    margin-left: 20px;
}

.theme-btn-dark {
    background-color: orangered;
}